@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personlig data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p> Ditt konto innehåller personlig data som du har gett till oss. På den här sidan kan du ladda ner och radera data.</p>
        <p>
            <strong>Raderar du data kommer ditt konto bli permanent borttaget och kontot kan inte återställas.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-dark m-1" type="submit">Ladda ner</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-dark m-1">Radera</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
