@model HarmoniBackendAdmin.Models.Product

@{
    ViewData["Title"] = "Produkter";
}

<h1>Produkt</h1>

<h2>Ändra</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductPrice" class="control-label"></label>
                <input asp-for="ProductPrice" class="form-control" />
                <span asp-validation-for="ProductPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductCategory" class="control-label"></label>
                <select asp-for="ProductCategory"class="form-control mb-2" />
                <option value="Schampo">Hår</option>
                <option value="Balsam">Ansikte</option>
                <option value="Kropp">Kropp</option>
                <option value="Övrigt">Övrigt</option>
                <span asp-validation-for="ProductCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductImageName" class="control-label"></label>
                <input readonly asp-for="ProductImageName" class="form-control"> 
                <span asp-validation-for="ProductImageName" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ApiKeyReq" /> @Html.DisplayNameFor(model => model.ApiKeyReq)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Spara ändringar" class="btn btn-dark m-2" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-dark m-2" asp-action="Index">Tillbaka till alla produkter</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
