@{
    ViewData["Title"] = "Start";
}

<div class="text-center">
    <h1 class="display-4">Välkommen till Harmoni spa & relax</h1>
    <p>Administrera bokningar, personal, produkter och behandlingar</p>
</div>
<img src="~/header_small (2).jpg" class="img-fluid rounded mx-auto d-block p-3" alt="Spa lyx med ljus och skrubb">