@model HarmoniBackendAdmin.Models.Staff

@{
    ViewData["Title"] = "Personal";
}

<h1>Personal</h1>
<div>
    <h2>Är du säker på att du vill radera?</h2>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StaffName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StaffName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Radera" class="btn btn-dark m-2" /> |
        <a class="btn btn-dark m-2" asp-action="Index">Tillbaka till all personal</a>
    </form>
</div>
